<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gov.dao.TRightMapper">

    <!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache" /> -->

    <!-- BaseResultMap -->
	<resultMap id="BaseResultMap" type="com.gov.model.TRight">
		<id column="rightid" property="rightid" jdbcType="INTEGER" />
		<result column="folderid" property="folderid" jdbcType="INTEGER" />
		<result column="rightname" property="rightname" jdbcType="VARCHAR" />
		<result column="righturl" property="righturl" jdbcType="VARCHAR" />
		<result column="rightcode" property="rightcode" jdbcType="VARCHAR" />
		<result column="rightparam" property="rightparam" jdbcType="VARCHAR" />
		<result column="rightmemo" property="rightmemo" jdbcType="VARCHAR" />
		<result column="timestamp" property="timestamp" jdbcType="TIMESTAMP" />
	</resultMap>

    <!-- Base_Column_List -->
	<sql id="Base_Column_List">
		right_tab.rightid,
		right_tab.folderid,
		right_tab.rightname,
		right_tab.righturl,
		right_tab.rightcode,
		right_tab.rightparam,
		right_tab.rightmemo,
		right_tab.timestamp
	</sql>

    <!-- selectByPrimaryKey -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from right_tab
        where rightid=#{rightid,jdbcType=INTEGER}
	</select>

    <!-- selectAll -->
	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from right_tab
	</select>

    <!-- selectByFolderid -->
	<select id="selectByFolderid" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from right_tab
        where
        folderid=#{folderid,jdbcType=INTEGER}
	</select>

    <!-- selectByRightid -->
	<select id="selectByRightid" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from right_tab
        where
        rightid=#{rightid,jdbcType=INTEGER}
	</select>
        
    <!-- countAll -->
    <select id="countAll" resultType="java.lang.Integer">
        select count(*) c from right_tab
    </select>

    <!-- countByFolderid -->
	<select id="countByFolderid" resultType="java.lang.Integer">
        select count(*) c from right_tab
        where
        folderid=#{folderid,jdbcType=INTEGER}
	</select>

    <!-- countByRightid -->
	<select id="countByRightid" resultType="java.lang.Integer">
        select count(*) c from right_tab
        where
        rightid=#{rightid,jdbcType=INTEGER}
	</select>

    <!-- deleteByFolderid -->
	<delete id="deleteByFolderid">
        delete from right_tab
        where
        folderid=#{folderid,jdbcType=INTEGER}
	</delete>

    <!-- deleteByRightid -->
	<delete id="deleteByRightid">
        delete from right_tab
        where
        rightid=#{rightid,jdbcType=INTEGER}
	</delete>
    
    <!-- insert -->
	<insert id="insert" parameterType="com.gov.model.TRight">
		insert into right_tab (
            rightid,
            folderid,
            rightname,
            righturl,
            rightcode,
            rightparam,
            rightmemo
		)values(
            #{rightid,jdbcType=INTEGER},
            #{folderid,jdbcType=INTEGER},
            #{rightname,jdbcType=VARCHAR},
            #{righturl,jdbcType=VARCHAR},
            #{rightcode,jdbcType=VARCHAR},
            #{rightparam,jdbcType=VARCHAR},
            #{rightmemo,jdbcType=VARCHAR}
        )
	</insert>
    
    <!-- updateFolderid -->
	<update id="updateFolderid">
        update right_tab set
            folderid = #{folderid,jdbcType=INTEGER}
        where
            rightid=#{rightid,jdbcType=INTEGER}
    </update>

    <!-- update -->
	<update id="update" parameterType="com.gov.model.TRight">
        update right_tab set
            folderid = #{folderid,jdbcType=INTEGER},
            rightname = #{rightname,jdbcType=VARCHAR},
            righturl = #{righturl,jdbcType=VARCHAR},
            rightcode = #{rightcode,jdbcType=VARCHAR},
            rightparam = #{rightparam,jdbcType=VARCHAR},
            rightmemo = #{rightmemo,jdbcType=VARCHAR}
        where
            rightid=#{rightid,jdbcType=INTEGER}
    </update>

    <!-- 搜索 -->
	<select id="selectSearch" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from right_tab
		<if test="searchText != null and searchText!=''">
        <trim prefix="where" prefixOverrides="and |or">
            or rightname like CONCAT('%',#{searchText,jdbcType=VARCHAR},'%' )
            or righturl like CONCAT('%',#{searchText,jdbcType=VARCHAR},'%' )
            or rightcode like CONCAT('%',#{searchText,jdbcType=VARCHAR},'%' )
            or rightparam like CONCAT('%',#{searchText,jdbcType=VARCHAR},'%' )
            or rightmemo like CONCAT('%',#{searchText,jdbcType=VARCHAR},'%' )
        </trim>
        </if>
	</select>

    <!-- TODO 添加自定义的 SQL 配置 -->
    <!-- STUB_TAG_MY_CODE 自定义代码必须在该标记之后添加，请不要删除或修改此行 -->

    
    <select id="selectListByUsername" resultType="String">
		select rightcode
		from right_tab where rightid in(
		select rightid from v_user_rights where username=#{username,jdbcType=VARCHAR}
		union
		select rightid from v_user_role_rights where username=#{username,jdbcType=VARCHAR}
		union
		select rightid from v_user_org_rights where username=#{username,jdbcType=VARCHAR}
		)
	</select>
    
	<select id="selectByRoleIdSearch" resultMap="BaseResultMap">
			select
		<include refid="Base_Column_List" />
			from right_tab 
		<if test="roleId != null and roleId!=''">
			left join t_role_rights on right_tab.rightid = t_role_rights.rightid
			where t_role_rights.roleId=#{roleId,jdbcType=VARCHAR}
        </if>
        <if test="roleId == null or roleId==''">
        	where 1=1
        </if>
		<if test="searchText != null and searchText!=''">
        and (
        <trim prefixOverrides="and |or">
             folderid like CONCAT('%',#{searchText,jdbcType=VARCHAR},'%' )
            or rightname like CONCAT('%',#{searchText,jdbcType=VARCHAR},'%' )
            or righturl like CONCAT('%',#{searchText,jdbcType=VARCHAR},'%' )
            or rightcode like CONCAT('%',#{searchText,jdbcType=VARCHAR},'%' )
            or rightmemo like CONCAT('%',#{searchText,jdbcType=VARCHAR},'%' )
        </trim>
		)
        </if>
        order by rightid asc
	</select>

	<insert id="insertNext" parameterType="com.gov.model.TRight">
		insert into right_tab (
            rightid,
            folderid,
            rightname,
            righturl,
            rightcode,
            rightparam,
            rightmemo
		)select ifnull(max(rightid+10),10) c,
            #{folderid,jdbcType=INTEGER},
            #{rightname,jdbcType=VARCHAR},
            #{righturl,jdbcType=VARCHAR},
            #{rightcode,jdbcType=VARCHAR},
            #{rightparam,jdbcType=VARCHAR},
            #{rightmemo,jdbcType=VARCHAR}
        from right_tab
	</insert>

    <!-- STUB_TAG_MY_CODE 自定义代码必须在该标记之前添加，请不要删除或修改此行 -->
</mapper>
